/* ========== base style =========== */
li {
    list-style: none;
}
a {
    text-decoration: none;
    color:#ffffff;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    
}
ol, ul, li, p {
    margin: 0;
    padding-left: 0;
}
body {
    margin: 50px;
    background-image: 
    url(../images/back-fon-Katia.jpg
    );
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: auto;
    color:#ffffff;
    background-color: black;
   
}
/* ========== block style =========== */
.maine_title-uppertitle {
    margin-left: 300px;
    margin-right: 300px;
}

.name_upper-title {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    font-weight: 900;
    
}
.about_1 {
    color:blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.about_2 {
    color:blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.name_title {
    font-weight: 700;
    width: 630px;
    margin-left: auto;
    margin-right: auto;
}

/* ========== projects =========== */
.projects {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
/* ========== experiens-work =========== */
.experiens-work {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}


/* ========== education =========== */
.education {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.aside {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.img_user {
    height: 380px;
    width: 300px;
    border-radius: 50%;
}

.icon {
    fill: blue;
}
.btn {
    padding: 20px 50px;
}


.img_block {
display: flex;
flex-direction: column;

}

.btn-cheng {
    border-radius: 15px;
    padding: 20px 40px;
    text-align: center;
    border-color: #ffffff;
    
}

/* .btn-cheng:hover {
    background-color: blanchedalmond;
    border-color: #c55e5e;
    color: rgb(92, 111, 105);
} */

.btn-chenges {
    margin-left: 130px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: blueviolet;
}

.btn-chenges:hover
 {
    background-color: yellow;
}


body.show-modal .backdrop {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

body.show-modal .modal {
    transform: scale(1) ;
}

.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;

    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.modal {
    color: #000;
    padding: 24px;
    border-radius: 4px;
    max-width: 640px;
    width: 100%;
    min-height: 320px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
        0px 2px 1px -1px rgba(0, 0, 0, 0.12);

    transform: scale(1.1);
    transition: transforv 200ms ease-in-out;
}
